/* putting the body content in a <div> with 1% padding is recommended */
body {
    background-color: honeydew;
    font-family: Menlo;
    color: green;
    font-size: x-large;
}

a {
    color: seagreen;
}

input {
    font-family: Menlo;
    color: green;
    background-color: azure;
}

button {
    font-family: Menlo;
    background-color: azure;
    color: green;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

code {
  background-color: ivory;
}

/* Intro Animations */

.easefadetop {
  animation: top 1s ease-in;
}

@keyframes top {
  0%{
    transform: translateX(-100px);
    /*opacity: 0%;*/
  }
  100%{
    /*opacity: 100%;*/
  }
}


/*
  classes to make a topnav bar
  VVVVVVVVVVVVVVVVVVVVVVVVVVVV
*/

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: green;
    color: honeydew
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
  
  }