/* putting the body content in a <div> with 1% padding is recommended */
body {
    background-color: honeydew;
    font-family: Menlo;
    color: green;
    font-size: x-large;
}

a {
    color: seagreen;
}

input {
    font-family: Menlo;
    color: green;
    background-color: azure;
}

button {
    font-family: Menlo;
    background-color: azure;
    color: green;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

code {
  background-color: ivory;
}

/* Animations */

.fadetop {
  animation: fadetop 2s;
  -moz-animation: fadetop 2s; /* Firefox */
  -webkit-animation: fadetop 2s; /* Safari and Chrome */
  -o-animation: fadetop 2s; /* Opera */
}

@keyframes fadetop {
  0%{
    transform: translateY(-2em);
    opacity: 0%;
  }
  65%{
    transform: translateY(0.1em)
  }
  100%{
    opacity: 100%;
  }
}

.leafwiggle{
  animation: wiggle 3s;
  -moz-animation: wiggle 3s; /* Firefox */
  -webkit-animation: wiggle 3s; /* Safari and Chrome */
  -o-animation: wiggle 3s; /* Opera */
  animation-iteration-count:infinite;
  animation-delay: 1s;
}

@keyframes wiggle{
  0%{
    transform: skewY(0deg) skewX(0deg);
  }
  3%{
    transform: skewY(1deg) skewX(1deg);
  }
  8%{
    transform:  rotate(10deg);
  }
  16%{
    transform:  rotate(0deg);
  }
  33%{
    transform: skewY(1deg) skewX(-1deg);
  }
  50%{
    transform: skew(0deg) rotate(0deg);
  }
  100%{
    transform: skew(0deg) rotate(0deg);
  }
}


/*
  classes to make a topnav bar
  VVVVVVVVVVVVVVVVVVVVVVVVVVVV
*/

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: green;
    color: honeydew
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
  
  }